<ion-content class="ion-padding">
  <div class="reset-title">
    <p>Crea tu nueva contraseña</p>
  </div>
  <form>
    <ion-item class="password-text">
      <ion-label position="floating">Introduce tu nueva contraseña</ion-label>
      <ion-input type="email" name="email" required></ion-input>
    </ion-item>
    
    <ion-item class="password-text" >
      <ion-label position="floating">Confirma tu nueva contraseña</ion-label>
      <ion-input type="password" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button routerLink="/login" class="boton-login" expand="block"  type="submit">Crear contraseña</ion-button>
  </form>
  <p class="ion-text-help">
    <a class="reset-text-2" routerLink="/#">Necesitas ayuda?</a>
  </p>
</ion-content>

