.reset-title{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 28px;
}

.boton-login {
    
    border-radius: 20px;
    margin-top: 30px;
    --background: #002138;
    --color: #ffffff;
  }

.reset-text-2{
    margin:auto;
}

.password-text{
    color: gray;
}

.ion-text-help {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px; 
    font-size: 14px; 
  }