<ion-content [fullscreen]="true">

  <div class="contenedor">
    <div class="sidebar">
      <ion-img src="../../../assets/RegisterAPPlogo.svg" alt="" class="logo"></ion-img>

      <div class="menu">
        <button  mat-button [matMenuTriggerFor]="menu">Panel de Control</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>

    </div>

    <div class="cabezera" style="margin-top: -236px;">
      
      <img src="../../../../assets/icon/profile-user.png" alt="">

      <h1>Remy Parker</h1>

      <h2>
        Bienvenido, Remy Parker.
      </h2>
      <h3>
        Aca prodras visualizar, administrar y permitir que tus alumnos resgistren su asistencia.
      </h3>
  
  
    </div>
  </div>

</ion-content>