.splash {
    background-size: auto;
    background-color: white;
}

.splashGif {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: white;
}
