<ion-content class="ion-padding">
  
  <div class="logo-container">
    <ion-img src="../../../assets/RegisterAPPlogo.svg" alt="Logo de la aplicación"></ion-img>
  </div>
  <div class="login-text">
    <p>Iniciar sesión</p>
  </div>
  <form (ngSubmit)="login()">
    <ion-item class="email-text">
      <ion-input [(ngModel)]="credenciales.email" type="email" name="email" label="Email" labelPlacement="floating" placeholder="Ingresa tu email"></ion-input>
    </ion-item>

    <ion-item class="password-text">
      <ion-input [(ngModel)]="credenciales.password" type="password" name="password" label="Contraseña" labelPlacement="floating" placeholder="Ingresa tu contraseña"></ion-input>
    </ion-item>
    
    <ion-button class="boton-login" expand="block" type="submit">Iniciar sesión</ion-button>
  </form>

  <div class="Google-text">
    O inicia sesión con Google
    <p>
      <ion-button color="medium" shape="round" type="submit">
        <ion-icon name="logo-google" class="icon-google"></ion-icon>
      </ion-button>
    </p>
  </div>

  <p class="ion-text-register-forget">
    <a class="forget-text" routerLink="/recoverypass">¿Olvidó su contraseña?</a>
    <a class="register-text" routerLink="/register">Registrarse</a>
  </p>
</ion-content>
