<ion-content class="ion-padding">
  
  <div class="logo-container">
    <ion-img src="../../../assets/RegisterAPPlogo.svg" alt="Logo de la aplicación"></ion-img>
  </div>
  <div class="login-text">
    <p>Iniciar sesión</p>
  </div>
  <form>
    <ion-item class="email-text">
      <ion-label color="light" position="floating">Email</ion-label>
      <ion-label position="floating">u.suario@duocuc.cl / u.suario@profesor.cl</ion-label>
      <ion-input [(ngModel)]="email" type="email" name="email" required></ion-input> <!--[(ngModel)] Necesario para logearse-->
    </ion-item>

    <ion-item class="password-text" >
      <ion-label color="light" position="floating">Contraseña</ion-label>
      <ion-label position="floating">Introduce tu contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
    </ion-item>
    
    <ion-button (click)="IrHomeAlumno()" (click)="IrHomeProfesor()" class="boton-login" expand="block"  type="submit">Iniciar sessión</ion-button>
  </form>

<div class="Google-text">
  O inicia sesion con Google
  <p>
    <ion-button color="medium" shape="round" type="submit">
      <ion-icon name="logo-google" class="icon-google"></ion-icon>
    </ion-button>
  </p>
</div>

  <p class="ion-text-register-forget">
    <a class="forget-text" routerLink="/recoverypass">¿Olvidó su contraseña?</a>
    <a class="register-text" routerLink="/register">Registrarse</a>
  </p>
</ion-content>
