<ion-content class="ion-padding">

  <div class="back-button-container">
    <ion-back-button defaultHref="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-back-button>
  </div>

  <div class="register-page">
    <div class="register-title">
      <p>Regístrate</p>
    </div>
  </div>

  <form>
    <ion-item class="email-text">
      <ion-label position="floating">Introduce tu email</ion-label>
      <ion-input [(ngModel)]="datos.email" class="text-2" type="email" name="email" required label="Introduce tu email"></ion-input>
    </ion-item>

    <ion-item class="password-text">
      <ion-label position="floating">Introduce tu contraseña</ion-label>
      <ion-input [(ngModel)]="datos.password" class="text-2" type="password" name="password"  label="Introduce tu contraseña"></ion-input>
    </ion-item>

    <ion-button (click)="registrar()" class="boton-login" expand="block" type="submit">Registrarte</ion-button>
  </form>

  <p class="ion-text-register-forget">
    <a class="login-text">¿Ya tienes una cuenta?</a>
    <a class="login-text-2" routerLink="/login">Iniciar sesión</a>
  </p>
</ion-content>