<ion-content class="ion-padding">

  <div class="back-button-container">
    <ion-back-button defaultHref="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-back-button>
  </div>

  <div class="register-page">
    <div class="register-title">
      <p>Regístrate</p>
    </div>

  </div>

  <form (ngSubmit)="registrarUser(email, password)">

    <ion-segment [(ngModel)]="rolSeleccionado" name="rolSeleccionado">
      <ion-segment-button value="alumno">
        <ion-label>Alumno</ion-label>
      </ion-segment-button>
      <ion-segment-button value="profesor">
        <ion-label>Profesor</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-item class="email-text">
      <ion-input [(ngModel)]="nombre" name="email" class="text-2" type="email" label="Nombre" labelPlacement="floating" placeholder="Ingresa tu nombre"></ion-input>
    </ion-item>

    <ion-item class="email-text">
      <ion-input [(ngModel)]="email" name="email" class="text-2" type="email" label="Email" labelPlacement="floating" placeholder="Ingresa tu email"></ion-input>
    </ion-item>

    <ion-item class="password-text">
      <ion-input [(ngModel)]="password" name="password" class="text-2" type="password" label="Contraseña" labelPlacement="floating" placeholder="Ingresa tu contraseña"></ion-input>
    </ion-item>

    <ion-button class="boton-login" expand="block" type="submit">Registrarte</ion-button>
  </form>

  <p class="ion-text-register-forget">
    <a class="login-text">¿Ya tienes una cuenta?</a>
    <a class="login-text-2" routerLink="/login">Iniciar sesión</a>
  </p>
</ion-content>