.welcome-toolbar{
    --background: #ffffff;
}

.welcome-title{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    text-align: left;
.icon-user{
    width: 110%;
    height: auto;
    background-color: #002138;

}
}
.home-title{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 23px;
}


.logo-container{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    --img{
        width: 10%; /*no funca???*/
        height: auto;
    }
}

.boton-login{
    border-radius: 20px;
    margin-top: 50px;
    --background: #002138;
    --color: #ffffff;
}
.help-text{
    margin-left: 200px;
    margin-top: 100px;
}