.welcome-toolbar {
    --background: #ffffff;
}

.welcome-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    text-align: left;
}

.home-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 23px;
}

.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 40vh;
    margin-bottom: 20px; 
    
}
  
.ion-img {
    width: auto; 
    height: auto;
    
  }
ion-icon {
    font-size: 50px;
    color: #002138;
}
.boton-login {
    border-radius: 20px;
    margin-top: 50px;
    --background: #002138;
    --color: #ffffff;
}

.help-text {
    margin-left: flex;
    margin-top: f;
}

.ion-text-help {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px; /* Ajusta el margen según tus preferencias */
    font-size: 14px; /* Ajusta el tamaño de fuente según tus preferencias */
  }