<!-- Top Bar -->
<div class="top-bar">
  <div class="top-bar__center">
    <h1 class="top-bar__title">Alumnos</h1>
  </div>
  <div class="top-bar__right">
    <div class="nombre-profesor">
      Bienvenido, profesor !
    </div>
  </div>
</div>
<div class="wrapper">

  <!-- Sidebar  -->
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <ion-img src="../../../assets/RegisterAPPlogo.svg" class="logo"></ion-img>
      <div class="textologo" style="margin-top: -40px;">
        <!-- Puedes ajustar el valor del margin-top según sea necesario -->
        <h3 style="margin: 0;">RegisterApp</h3> <!-- Elimina el margen para que el texto esté más cerca de la imagen -->
      </div>
    </div>


    <ul class="list-unstyled components">
      <li class="active">
        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dashboard</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a routerLink="/pro-home">Registro de asistencias</a>
          </li>
          <li>
            <a routerLink="/pro-asistencia">Alumnos</a>
          </li>
          <ion-button (click)="logout()" class="boton-login" expand="block" type="submit">
            <ion-icon name="log-out" slot="start"></ion-icon>
            Logout
          </ion-button>
        </ul>
      </li>
    </ul>


  </nav>

  <!-- Page Content  -->
  <div id="content">
    <!--<ion-button (click)="toggleSidebar()">Toggle Sidebar</ion-button> -->
    <ion-text> conteido de las secciones</ion-text>

    <div class="tabla" style="margin-top: 50px;">

      <h4 class="titulo">Alumnos</h4>

      <table>
        <thead>
          <th>Nombre</th>
          <th>Status </th>
          <th>Fecha</th>
          <th> ID</th>
        </thead>
        <tbody>
          <tr *ngFor="let Usuarios of usuarios">
            <td>Sebastian Piñera</td>
            <td>Presente</td>
            <td>16 Sep, 2023</td>
            <td>36568-235</td>
          </tr>
          <tr>
            <td>Gabriel Boric</td>
            <td>Presente</td>
            <td>16 Sep, 2023</td>
            <td>36568-235</td>
          </tr>


        </tbody>
      </table>

    </div>
  </div>