.logo{
    width: 180px;
    margin-right: 130px;  
}

.contenedor{
    width: 250px;
    height: 100%;
    background-color: #faf7f7;
}

.cabezera{
    width: 1700px;
    height: 150px;
    margin-left: 250px;
    margin-top: px;
    background: #f0ecec;
}

.cabezera h1 {
    margin-left: 1360px;
    margin-top: -35px;
    color: black;
    font-size: medium;
    
}
.cabezera h2 {
    color: black;
    margin-left: 180px;
    text-align: justify;
    margin-top: -50px;
}

.cabezera h3 {
    color: rgba(87, 69, 69, 0.384);
    margin-left: 180px;
    text-align: justify;
    font-size: small;
}

.cabezera img {
   width: 45px;
   margin-left: 1300px;
   margin-top: 55px;
   
}

.tabla{
    width: 1310px;
    height: 560px;
    background: #f0ecec;
    margin-left: 420px;
    border-radius: 35px;
    margin-top: -100;
    
}

.titulo {
  padding-left: 50px;
  padding-top: 20px;
  color: black;
 
}

.menu{
    color: black;
}

th {
    padding: 20px 125px;
    color: black;
}


td {
    padding: 15px 120px;
    border-bottom: solid 1px #faf7f7;
    font-size: medium;
    color: black;
}


