



.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 20vh;
    margin-bottom: 10px; 
  }
  
ion-img {
    width: 70%; 
    height: auto;
    
  }