<ion-content class="ion-padding">
  <div class="recovery-title">
    <p>Recupera tu contraseña</p>
  </div>
  <form>
    <ion-item class="email-text">
      <ion-label position="floating">Introduce tu email</ion-label>
      <ion-input type="email" name="email" required></ion-input>
    </ion-item>
    <ion-button routerLink="/reset-password" class="boton-login" expand="block" type="submit">Enviar correo de recuperacion</ion-button>
  </form>

  <p class="ion-text-help">
    <a class="recovery-text-2" routerLink="/#">Necesitas ayuda?</a>
  </p>
</ion-content>
